---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="inicio"></div>
  <div class="flex justify-center pt-20 px-2">
    <div class="max-w-[1200px]">
      <div class="md:flex flex-row w-full overflow-hidden">
        <div
          class="md:basis-4/12 relative w-full md:pr-5 overflow-hidden"
          class="clip-svg"
        >
          <svg
            viewBox="0 0 200 200"
            class="absolute sombra-1"
            xmlns="http://www.w3.org/2000/svg"
            transform="scale(1.1)"
          >
            <path
              fill="#a5a58d"
              d="M55.9,-57.3C69.4,-42.5,75.2,-21.2,72.7,-2.4C70.3,16.4,59.7,32.7,46.2,45.5C32.7,58.2,16.4,67.2,-1.7,68.9C-19.7,70.5,-39.4,64.8,-48.7,52.1C-57.9,39.4,-56.8,19.7,-53.2,3.6C-49.5,-12.4,-43.3,-24.8,-34.1,-39.6C-24.8,-54.4,-12.4,-71.6,4.4,-76C21.2,-80.4,42.5,-72.1,55.9,-57.3Z"
              transform="translate(100 100)"></path>
          </svg>
          <img
            src="https://sadanduseless.b-cdn.net/wp-content/uploads/2020/07/weird-cats1.jpg"
            alt=""
            class="clip-svg w-full"
          />
        </div>
        <div
          class="basis-8/12 flex items-center text-center md:text-left mt-[-30px] md:mt-0 text-neutral"
        >
          <div>
            <p
              class="font-caveat mb-10 font-semibold"
              style="font-size: 3rem; line-height: 3rem;"
            >
              O que faço como esquizonalista?
            </p>
            <p>
              Quando alguém me pergunta o que faço como psicólogo, prefiro dizer
              que não sou um "intérprete de mentes", mas alguém que observa
              fluxos de forças. Minha prática não busca “curar” no sentido
              tradicional, como se as pessoas fossem máquinas quebradas que
              precisam de conserto. Em vez disso, sigo um caminho
              esquizonalista: mapeando, compreendendo e, sobretudo, liberando os
              fluxos de forças que compõem nossas vidas.
            </p>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="pt-30">
        <div class="w-full pt-36 md:pt-10 titulo mb-5 font-caveat relative">
          Uma perspectiva diferente
          <div class="ml-1 h-2 w-[250px] bg-primary rounded-md"></div>
        </div>
        <div class="md:flex flex-row-reverse w-full">
          <div class="md:w-5/12">
            <img
              class="mask mask-squircle w-full object-cover h-full"
              src="./man-s-hand-holding-professional-digital-camera-lens.jpg"
            />
          </div>
          <div class="md:w-7/12 flex items-center md:pr-l pt-10 md:pt-0">
            <div class="w-full text-neutral">
              <p class="w-full">
                Não nos limitamos à visão convencional que reduz a psicologia à
                organização rígida de estruturas familiares ou à
                individualização excessiva do sofrimento. Nossa abordagem
                enxerga a força produtiva e criativa presente em tudo o que
                fazemos, mas que muitas vezes é capturada e codificada por
                sistemas como o capitalismo ou a moralidade.
              </p>
              <p class="pt-5 w-full">
                Por exemplo, pense na relação de alguém com o trabalho. Não
                interpretamos isso apenas como um problema de estresse
                individual ou más escolhas. Vemos como um campo onde máquinas
                diversas — econômicas, sociais e afetivas — se interligam,
                criando tensões, desejos e, por vezes, bloqueios. O trabalho,
                nesse sentido, não é algo externo à pessoa, mas participa
                diretamente de sua produção subjetiva.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full justify-center my-20">
        <img class="w-[500px]" src="./divisor.png" />
      </div>
      <div id="destaque"></div>
      <div class="w-full md:flex md:justify-between" data-aos="fade-up">
        <div class="md:w-1/2 w-full md:pr-5">
          <div class="w-full bg-primary rounded-md p-5 text-white">
            <p class="text-center subtitulo uppercase">
              Desejo como fluxo incessante
            </p>
            <div class="px-2 py-5">
              <div class="bg-white w-full h-[1px]"></div>
            </div>
            <p>
              Para a esquizoanálise, o desejo não é um simples "querer algo".
              Ele é um fluxo incessante de forças que pode ser interrompido,
              desviado ou aprisionado por normas e sistemas. Essa captura não
              apenas limita, mas também molda nossa subjetividade.
            </p>
            <p class="mt-5">
              Por isso, nossa prática não se fixa em diagnósticos ou categorias
              que "encaixam" experiências em moldes pré-definidos. Ao contrário,
              procuramos mapear territórios existenciais. Quando um paciente se
              queixa de ansiedade constante, por exemplo, não vemos essa
              ansiedade como algo "dele", mas como um efeito produzido pelas
              exigências de uma máquina maior: a vida moderna, a cultura de
              produtividade e as normas de conduta.
            </p>
          </div>
        </div>
        <div class="md:w-1/2 md:pl-5 mt-10 md:mt-0">
          <div class="w-full bg-secondary rounded-md p-5 text-white">
            <p class="text-center subtitulo uppercase">
              Abrindo possibilidades
            </p>
            <div class="px-2 py-5">
              <div class="bg-white w-full h-[1px]"></div>
            </div>
            <p>
              O objetivo do trabalho esquizonalista não é desmontar uma suposta
              doença, mas abrir novas possibilidades. Perguntamos: o que pode
              ser feito com essa ansiedade? Como podemos reinserir essa força
              bloqueada em novos circuitos, mais criativos e menos opressivos?
            </p>
            <p class="mt-5">
              Isso implica uma postura ética radical. Não trabalhamos com um
              modelo pré-definido de como viver, mas ajudamos a pessoa a
              encontrar suas próprias linhas de fuga — caminhos que escapem das
              forças que a sufocam. Ao mesmo tempo, reconhecemos que não há uma
              saída total. Vivemos em sistemas que nos atravessam e condicionam,
              mas sempre existem brechas, potências latentes esperando para
              emergir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-20 bg-base-200 w-full pt-5 pb-10 px-2">
    <div class="max-w-[1200px] w-full" data-aos="fade-up">
      <div class="flex justify-center py-5">
        <div class="h-[50px] w-[2px] bg-accent"></div>
      </div>
      <Icon
        name="ion:footsteps-outline"
        class="w-full text-6xl my-2 text-accent transition-all ease-in-out mb-10"
      />

      <div
        class="w-full text-center text-accent font-semibold titulo uppercase"
      >
        Caminhando ao lado
      </div>
      <div class="md:flex w-full items-start mt-10 justify-center">
        <div
          class="w-full max-w-[900px] text-accent font-semibold subtitulo md:pr-10 px-3 md:px-0"
        >
          <p>
            Quando olhamos para uma pessoa, não vemos alguém definido por
            diagnósticos ou histórias passadas. Enxergamos um campo aberto,
            múltiplo, cheio de forças em movimento. Nossa prática é menos sobre
            “responder” e mais sobre “perguntar”:
          </p>
          <div
            class="subtitulo text-accent hover:bg-accent transition-all ease-in-out hover:text-white w-full border border-accent px-5 py-3 my-5 rounded-md relative"
          >
            <div
              class="bg-accent py-5 px-1 absolute rounded-md rotate-12 left-5 top-2"
            >
            </div><span class="font-semibold ml-5"
              >Quais forças estão operando em um problema?
            </span>
          </div>
          <div
            class="subtitulo text-accent hover:bg-accent transition-all ease-in-out hover:text-white w-full border border-accent px-5 py-3 my-5 rounded-md relative"
          >
            <div
              class="bg-accent py-5 px-1 absolute rounded-md rotate-12 left-5 top-2"
            >
            </div><span class="font-semibold ml-5"
              >Quais conexões foram feitas ou desfeitas?
            </span>
          </div>
          <div
            class="subtitulo text-accent hover:bg-accent transition-all ease-in-out hover:text-white w-full border border-accent px-5 py-3 my-5 rounded-md relative"
          >
            <div
              class="bg-accent py-5 px-1 absolute rounded-md rotate-12 left-5 top-2"
            >
            </div><span class="font-semibold ml-5"
              >Quais fluxos precisam ser liberados?
            </span>
          </div>
        </div>
        <!-- <div class="w-full md:w-1/2"></div> -->
      </div>
    </div>
  </div>
  <div class="shapedividers_com-8440 h-[100px]"></div>

  <div
    class="flex justify-center w-full px-5 text-gray-800 pt-40 pb-20"
  >
    <div class="p-10 md:flex flex-row-reverse items-center max-w-[1200px]">
      <img
        class="rounded-lg w-full md:w-5/12 object-cover mask mask-squircle"
        src="./vertical-shot-river-surrounded-by-mountains-meadows-scotland.jpg"
      />
      <div
        class="md:w-7/12 w-full subtitulo text-center md:text-left text-primary md:pr-20 pt-10 md:pt-0"
      >
        <p>
          Como esquizonalista, caminho ao lado, não à frente nem atrás. Meu
          papel é ajudar a pessoa a navegar pelos territórios complexos de sua
          força e subjetividade, sempre com abertura para a multiplicidade e o
          caos — entendidos como potências criativas, e não como patologias.
        </p>
      </div>
    </div>
  </div>
  <div id="agendar"></div>
  <div class="flex justify-center w-full px-5 text-white pb-20">
    <div
      class="bg-primary w-full max-w-[800px] rounded-md p-10 md:flex flex-row"
    >
      <div class="md:w-8/12 w-full pr-2">
        <p style="font-size: 1.7rem" class="font-semibold mb-5">
          Agende a sua sessão agora!
        </p>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Ridiculus
          parturient blandit erat morbi velit. Litora nulla habitasse massa
          tortor, fringilla sem morbi condimentum. Lectus blandit maximus nibh,
          fermentum sit morbi lacinia. Nulla pellentesque finibus iaculis arcu
          velit habitant. Congue proin himenaeos taciti auctor semper. Est
          rhoncus cras potenti per montes vestibulum odio justo?
        </p>
      </div>
      <div class="md:w-4/12 w-full pl-2 flex md:block pt-5 md:pt-0">
        <Icon
          name="mdi:instagram"
          class="w-full text-6xl my-2 hover:text-gray-200 transition-all ease-in-out cursor-pointer"
        />
        <Icon
          name="mdi:whatsapp"
          class="w-full text-6xl my-2 hover:text-gray-200 transition-all ease-in-out cursor-pointer"
        />
        <Icon
          name="mdi:email"
          class="w-full text-6xl my-2 hover:text-gray-200 transition-all ease-in-out cursor-pointer"
        />
      </div>
    </div>
  </div>

  <svg
    viewBox="0 0 478.9 448.2"
    class="overflow-hidden fixed"
    xmlns="http://www.w3.org/2000/svg"
  >
    <clipPath
      id="blob1"
      clipPathUnits="objectBoundingBox"
      transform="scale(0.006588, 0.005231)"
    >
      <path
        d="M55.9,-57.3C69.4,-42.5,75.2,-21.2,72.7,-2.4C70.3,16.4,59.7,32.7,46.2,45.5C32.7,58.2,16.4,67.2,-1.7,68.9C-19.7,70.5,-39.4,64.8,-48.7,52.1C-57.9,39.4,-56.8,19.7,-53.2,3.6C-49.5,-12.4,-43.3,-24.8,-34.1,-39.6C-24.8,-54.4,-12.4,-71.6,4.4,-76C21.2,-80.4,42.5,-72.1,55.9,-57.3Z"
        transform="translate(60 100)"></path>
    </clipPath>
  </svg>
</Layout>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css"; // You can also use <link> for styles
  AOS.init({
    duration: 1200,
  });
</script>
<style>
  .clip-svg {
    clip-path: url("#blob1");
  }
  .sombra-1 {
    bottom: 5%;
    left: -20%;
  }
  .titulo {
    font-size: 2rem;
    font-weight: 600;
  }
  .subtitulo {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .shapedividers_com-8440 {
    overflow: hidden;
    position: relative;
  }
  .shapedividers_com-8440::before {
    content: "";
    font-family: "shape divider from ShapeDividers.com";
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 104px;
    background-position: 50% 0%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23e8dbd1"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23e8dbd1"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23e8dbd1"/></svg>');
  }

  @media (min-width: 2100px) {
    .shapedividers_com-8440::before {
      background-size: 100% calc(2vw + 104px);
    }
  }
  :target {
    display: block;
    position: relative;
    top: -100px; /* this is your offset */
    visibility: hidden;
  }
</style>
