---
import { Icon } from "astro-icon/components";
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex justify-center pt-20 px-2">
    <div class="max-w-[1200px]">
  <div class="md:flex flex-row w-full overflow-hidden">
    <div class="md:basis-4/12 relative w-full md:pr-5 overflow-hidden" class="clip-svg">
      <svg viewBox="0 0 200 200" class="absolute sombra-1" xmlns="http://www.w3.org/2000/svg" transform="scale(1.1)">
        <path fill="#81b29a" d="M55.9,-57.3C69.4,-42.5,75.2,-21.2,72.7,-2.4C70.3,16.4,59.7,32.7,46.2,45.5C32.7,58.2,16.4,67.2,-1.7,68.9C-19.7,70.5,-39.4,64.8,-48.7,52.1C-57.9,39.4,-56.8,19.7,-53.2,3.6C-49.5,-12.4,-43.3,-24.8,-34.1,-39.6C-24.8,-54.4,-12.4,-71.6,4.4,-76C21.2,-80.4,42.5,-72.1,55.9,-57.3Z" transform="translate(100 100)" />
      </svg>
      <img src="https://sadanduseless.b-cdn.net/wp-content/uploads/2020/07/weird-cats1.jpg" alt="" class="clip-svg w-full">
    </div>
    <div class="basis-8/12 flex items-center font-semibold text-center md:text-left mt-[-30px] md:mt-0 text-neutral" style="font-size: 3rem; line-height: 3rem;">
      <p>
        Apresentação Apresentável
      </p>
    </div>
  </div>
  <div id="topico1">
    <div class="w-full pt-36 md:pt-10 titulo mb-5">
      Tópico 1
      <div class="ml-1 h-2 w-[100px] bg-primary rounded-md" />
    </div>
  <div class="md:flex flex-row-reverse w-full">

<div class="md:w-4/12">
      <img
        class="mask mask-squircle w-full object-cover h-full"
        src="https://cdn.quasar.dev/img/parallax2.jpg" />
    </div>
    <div class="md:w-8/12 flex items-center md:pr-5 pt-10 md:pt-0">
      <div class="w-full text-neutral">
      <p class="w-full">
Lorem ipsum odor amet, consectetuer adipiscing elit. Ridiculus parturient blandit erat morbi velit. Litora nulla habitasse massa tortor, fringilla sem morbi condimentum. Lectus blandit maximus nibh, fermentum sit morbi lacinia. Nulla pellentesque finibus iaculis arcu velit habitant. Congue proin himenaeos taciti auctor semper. Est rhoncus cras potenti per montes vestibulum odio justo?
      </p>
      <p class="pt-5 w-full">
Laoreet dictum feugiat ante inceptos gravida commodo risus vehicula congue. Tempus auctor phasellus felis litora; accumsan eget. Vulputate litora quam cras risus nam morbi id. Massa sollicitudin urna varius sed nec euismod maecenas. Egestas senectus commodo enim blandit scelerisque congue est curae. Vitae vulputate hac eget risus mauris erat. Penatibus fusce sociosqu dictumst; pretium fermentum fringilla sit. Aliquam aptent cursus aenean efficitur sociosqu placerat leo ac.
        </p>
      </div>
    </div>
    
  </div>

</div>
  <div id="topico2">
    <div class="w-full pt-36 md:pt-10 titulo mb-5">
      Tópico 2
      <div class="ml-1 h-2 w-[100px] bg-primary rounded-md" />
    </div>
  <div class="md:flex w-full">

<div class="md:w-4/12">
      <img
        class="mask mask-squircle w-full object-cover h-full"
        src="https://cdn.quasar.dev/img/parallax2.jpg" />
    </div>
    <div class="md:w-8/12 flex items-center md:pr-l pt-10 md:pt-0">
      <div class="w-full text-neutral">
      <p class="w-full">
Lorem ipsum odor amet, consectetuer adipiscing elit. Ridiculus parturient blandit erat morbi velit. Litora nulla habitasse massa tortor, fringilla sem morbi condimentum. Lectus blandit maximus nibh, fermentum sit morbi lacinia. Nulla pellentesque finibus iaculis arcu velit habitant. Congue proin himenaeos taciti auctor semper. Est rhoncus cras potenti per montes vestibulum odio justo?
      </p>
      <p class="pt-5 w-full">
Laoreet dictum feugiat ante inceptos gravida commodo risus vehicula congue. Tempus auctor phasellus felis litora; accumsan eget. Vulputate litora quam cras risus nam morbi id. Massa sollicitudin urna varius sed nec euismod maecenas. Egestas senectus commodo enim blandit scelerisque congue est curae. Vitae vulputate hac eget risus mauris erat. Penatibus fusce sociosqu dictumst; pretium fermentum fringilla sit. Aliquam aptent cursus aenean efficitur sociosqu placerat leo ac.
        </p>
      </div>
    </div>
    
  </div>

</div>
  </div>
  </div>

  <div class="flex justify-center mt-20 bg-base-200 w-full py-20 px-2" id="destaque">
    <div class="max-w-[1200px] w-full">
      <div class="w-full text-center text-accent font-semibold titulo">
        DESTAQUES
      </div>
      <div>
      <div class="subtitulo text-accent w-full border border-accent px-5 py-3 my-5 rounded-md relative"><div class="bg-accent py-5 px-1 absolute rounded-md rotate-12 left-5 top-2" /><span class="font-semibold ml-3">DESTAQUE 1: </span>Lorem ipsum odor amet, consectetuer adipiscing elit.</div>
      <div class="subtitulo text-accent w-full border border-accent px-5 py-3 my-5 rounded-md relative"><div class="bg-accent py-5 px-1 absolute rounded-md rotate-12 left-5 top-2" /><span class="font-semibold ml-3">DESTAQUE 2: </span>Lorem ipsum odor amet, consectetuer adipiscing elit.</div>
      <div class="subtitulo text-accent w-full border border-accent px-5 py-3 my-5 rounded-md relative"><div class="bg-accent py-5 px-1 absolute rounded-md rotate-12 left-5 top-2" /><span class="font-semibold ml-3">DESTAQUE 3: </span>Lorem ipsum odor amet, consectetuer adipiscing elit.</div>
      </div>
      </div>
  </div>

  <div class="flex justify-center w-full py-10 px-5 text-gray-800" id="agendar">
    <div class="bg-secondary w-full max-w-[800px] rounded-md p-10 md:flex flex-row">
      <div class="md:w-8/12 w-full pr-2">
        <p style="font-size: 1.7rem" class="font-semibold mb-5">Agende a sua sessão agora!</p>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ridiculus parturient blandit erat morbi velit. Litora nulla habitasse massa tortor, fringilla sem morbi condimentum. Lectus blandit maximus nibh, fermentum sit morbi lacinia. Nulla pellentesque finibus iaculis arcu velit habitant. Congue proin himenaeos taciti auctor semper. Est rhoncus cras potenti per montes vestibulum odio justo?</p>
      </div>
      <div class="md:w-4/12 w-full pl-2 flex md:block pt-5 md:pt-0">
        <Icon
          name="mdi:instagram"
          class="w-full text-6xl my-2  hover:text-neutral-600 transition-all ease-in-out cursor-pointer"
        />
        <Icon
          name="mdi:whatsapp"
          class="w-full text-6xl my-2  hover:text-neutral-600 transition-all ease-in-out cursor-pointer"
        />
        <Icon
          name="mdi:email"
          class="w-full text-6xl my-2  hover:text-neutral-600 transition-all ease-in-out cursor-pointer"
        />
      </div>
    </div>
      </div>


  <svg viewBox="0 0 478.9 448.2" class="overflow-hidden fixed" xmlns="http://www.w3.org/2000/svg">
    <clipPath id="blob1" clipPathUnits="objectBoundingBox" transform="scale(0.006588, 0.005231)">
      <path d="M55.9,-57.3C69.4,-42.5,75.2,-21.2,72.7,-2.4C70.3,16.4,59.7,32.7,46.2,45.5C32.7,58.2,16.4,67.2,-1.7,68.9C-19.7,70.5,-39.4,64.8,-48.7,52.1C-57.9,39.4,-56.8,19.7,-53.2,3.6C-49.5,-12.4,-43.3,-24.8,-34.1,-39.6C-24.8,-54.4,-12.4,-71.6,4.4,-76C21.2,-80.4,42.5,-72.1,55.9,-57.3Z" transform="translate(60 100)" />
    </clipPath>
  </svg>
</Layout>

<style>
.clip-svg {
  clip-path: url("#blob1");
}
.sombra-1{
  bottom: 5%; left: -20%;
}
.titulo{
  font-size: 2rem;
  font-weight: 600;
}
.subtitulo{
  font-size: 1.4rem;
  font-weight: 600;
}
</style>
